<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" >
<head th:replace="fragments :: head"></head>

<body class="wrapper">

    <div class="nav-bar">
        <nav th:replace="fragments :: navbar"></nav>
    </div>

    <div class="main general center">

        <h1 th:text="${title}" class="title">Default Title</h1>

        <div>
            <h3><small class="text-muted">Username:</small>
                <span sec:authentication="name">username</span>
            </h3>

            <div class="my-link">
                <a th:href="@{'/report/list/' + ${#authentication.getPrincipal().getUsername()}}" class="text-warning">View My Reports</a>
            </div>

            <div class="my-link">
                <a href="/logout" class="text-danger">Logout
                    <form th:action="@{/user/logout}" method="post" th:hidden="true">
                        <input type="submit" value="Logout"/>
                    </form>
                </a>
            </div>

        </div>
    </div>

</body>
<span th:replace="fragments :: script"></span>
</html>