<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="wrapper">

    <div class="nav-bar">
        <div th:replace="fragments :: navbar"></div>
    </div>

    <div class="main general">

        <h1 th:text="${title}" class="title center">Default Title</h1>

        <div class="">

            <div class="center">
                <p th:if="${param.error}" class="invalid-feedback error center">Bad credentials</p>
            </div>
            <form name="f" method="post" class="contents">
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username"  placeholder="Enter username" autofocus="autofocus" onfocus="this.select()"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password"  placeholder="Password" />
                    </div>

                    <div class="center submit-report">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </fieldset>
            </form>

            <div class="center">
            <div class="navbar-brand register-link">
                <a href="/register" class="nav-link">New to Local Reports? <span class="orange">Register now</span></a>
            </div>
            </div>

        </div>
    </div>

</body>
<span th:replace="fragments :: script"></span>
</html>