<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="wrapper">

    <div class="nav-bar">
        <nav th:replace="fragments :: navbar"></nav>
    </div>

    <div class="main general center">
        <h1 th:text="${title}" class="title">Default Title</h1>

        <h5>You are not authorized to view this page.</h5>

        <a href="/" class="my-link text-warning">Home</a>
    </div>

</body>
<span th:replace="fragments :: script"></span>
</html>