.invalid-feedback.error {
    display: inline;
    font-size: 1em;
}

.register-btn {
    font-style: italic;
}

.wrapper {
    display: grid;
    position: relative;
    max-height: 755px;
    margin: auto;
    grid-auto-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas:    "nav    nav     nav     nav     nav     nav"
                            "main   main    main    main    main    main"
                            "main   main    main    main    main    main"
                            "footer footer  footer  footer  footer  footer";
}

/* grid areas */
.nav-bar {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/* sub grid areas on some pages */
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side-bar {
    grid-area: 2 / 5 / span 2 / span 2;
    min-width: 300px;
}

.report {
    margin: 20px;
}

.images {
    grid-area: 2 / 2 / span 4 / span 2;
}

img {
    max-width: 600px;
    height: auto;
}

.image1 {
    z-index: 5;
    max-width: 600px;
    height: auto;
}

.image2 {
    grid-area: 3 / 3 / span 1 / span 1;
    max-width: 500px;
    height: auto;
}


.center {
    text-align: center;
}

.title {
    text-align: center;
}

.register-link {
    margin-top: 10px;
}

.my-link {
    margin-top: 10px;
    font-size: 1.2em;
}

.orange {
    color: #ff9933;
}

/*.main, .side-bar, .footer {
    border: 2px solid #f76707;
    border-radius: 5px;
}*/

.general {
    margin: 15px 60px;
    text-decoration: none;

    /*max-width: 700px;*/
}

@media only screen and (max-width : 992px) {
    .lr-logo{
        display: none;
    }
}