.invalid-feedback.error {
    display: inline;
    font-size: 1em;
}

.register-btn {
    font-style: italic;
}

.wrapper {
    display: grid;
    position: relative;
    max-height: 755px;
    margin: auto;
    grid-auto-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas:    "nav    nav     nav     nav     nav     nav"
                            "main   main    main    main    main    main"
                            "main   main    main    main    main    main"
                            "footer footer  footer  footer  footer  footer";
}

/* grid areas */
.nav-bar {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/* sub grid areas on some pages */
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side-bar {
    grid-area: 2 / 5 / span 2 / span 2;
    min-width: 300px;
}

.report {
    margin: 20px;
}

.images {
    grid-area: 2 / 2 / span 4 / span 2;
}

img {
    max-width: 600px;
    height: auto;
}

.image1 {
    z-index: 5;
    max-width: 600px;
    height: auto;
}

.image2 {
    grid-area: 3 / 3 / span 1 / span 1;
    max-width: 500px;
    height: auto;
}


.center {
    text-align: center;
}

.title {
    text-align: center;
}

.register-link {
    margin-top: 10px;
}

.my-link {
    margin-top: 10px;
    font-size: 1.2em;
}

.orange {
    color: #ff9933;
}

/*.main, .side-bar, .footer {
    border: 2px solid #f76707;
    border-radius: 5px;
}*/

.general {
    margin: 15px 40px;
    text-decoration: none;

    /*max-width: 700px;*/
}

.btn-sm {
    font-size: 0.875rem;
    padding: 0 0 .3rem 0;
}

@media only screen and (max-width : 992px) {
    .lr-logo{
        display: none;
    }
}

.map-page {
    display: flex;
    justify-content: space-between;
}

.map-container, .submit-form-container {
    margin: 10px 10px 10px 0px;
}

.submit-form-container {
    display: flex;
    align-items: center;
    max-width: 40%;
    min-width: 400px;
}

.tab-main {
    margin-top: 10px;
    height: 410px;
    overflow: scroll;
}

.fill-container {
    width: 100%;
}

#toggle-left {
    border: 1px solid #333333;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-right: 0px;
}

#toggle-right {
    border: 1px solid #333333;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.nav-tabs {
    width: 280px;
    display: flex;
    border-bottom: none;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.nav-item {
    padding: 0px;
    margin: 0px;
}

.map-toggle {
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 18px;
    height: 100%    ;
    cursor: pointer;
    outline: none;
    padding-top: 0.8em;
    padding-bottom: 0.4em;
    text-align: center;
}

.map-toggle-btn {
    border-style: none;
    width: 160px;
    padding-top: 0.4em;
    padding-left: 0px;
    padding-right: 0px;
}

#search {
    width: 300px;
}

.map-nav-bar {
    height: 50px;
    width: 100%;
}

.map-nav-bar.btn-group {

}

.map-nav-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-outline {
    border-color: #919aa1;
    color: #919aa1;
}

textarea.form-control {
    height: 100px;
}

.report-header {
    padding: 0.5em;
}

.report-body {
    padding: 0.5em;
    display: block;
}

.one-report {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.datetime {
    font-size: 0.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.in {
    width: 200px;
}

.report-header a {
    color: inherit;
}

/* the about page */
.about {
    display: flex;
    justify-contents: space-between;
    padding: 10px 70px;
}
.about-text {
    width: 60%;
    margin: 0 50px 0 0;
}

.about-p {
    font-size: 1.2em;
    letter-spacing: .6px;
    padding-bottom: 20px;
}
.about-p span {

}

.about-list div {
    padding-bottom: 20px;
}

.card-text.square {
    list-style-type: square;
}

.indent {
    padding-left: 20px;
}

/* for info window content on map */
#infowindow-content {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.2em;
}

#info-title {
    font-weight: 700;
    font-size: 1.2em;
}

#info-urgency {
    font-style: italic;
}

#info-description {
    font-size: 0.85em;
}
