<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="wrapper">

<div class="nav-bar">
    <div th:replace="fragments :: navbar"></div>
</div>

<div class="main general">

    <h1 th:text="${title}" class="center">Default Title</h1>

    <div class="contents">

        <p th:if="${ex}" th:text="${ex.getLocalizedMessage()}">binding result - show localized message</p>

        <form method="post" th:object="${report}">
            <fieldset>
                <div class="form-group">
                    <label for="report-title">Report Title</label>
                    <input th:field="*{title}" type="text" class="form-control" id="report-title" autofocus="autofocus" onfocus="this.select()" />
                    <div th:errors="*{title}" class="invalid-feedback error"></div>
                </div>

                <div class="form-group">
                    <label for="description">Report Description</label>
                    <textarea th:field="*{description}" type="text" class="form-control" id="description"></textarea>
                    <div th:errors="*{description}" class="invalid-feedback error"></div>
                </div>

                <button type="submit" class="btn btn-primary">Submit Edits</button>
            </fieldset>
        </form>

    </div>

</div>

<span th:replace="fragments :: auth"></span>

</body>
<span th:replace="fragments :: script"></span>
</html>