<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="wrapper">

    <div class="nav-bar">
        <div th:replace="fragments :: navbar"></div>
    </div>
    <span class="image2">
            <img th:src="@{/images/trashedbuilding.jpeg}" alt="trashed building" />
    </span>

    <div class="images">
        <span class="image1">
            <img th:src="@{/images/stopsign.jpeg}" alt="stop sign" />
        </span>
    </div>

    <div class="side-bar">
        Side bar
    </div>

    <span th:replace="fragments :: auth"></span>

    <div class="footer">Fooooooter</div>

</body>
<span th:replace="fragments :: script"></span>
</html>