<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="wrapper">

<div class="nav-bar">
    <div th:replace="fragments :: navbar"></div>
</div>

<div class="main general">

    <!-- Main page -->
    <div class="contents map-page">

        <!-- Nav bar specifically for map page -->
        <div class="map-nav-bar btn-group">
            <span class="form-inline my-2 my-lg-0 search">
                <input class="form-control mr-sm-2" id="search" type="text" placeholder="Search by location..." />
            </span>

            <!-- Toggle Tabs for Report List / Submit Report -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span id="toggle-left" class="nav-link active" data-toggle="tab" href="#viewReports">View Reports</span>
                </li>
                <li class="nav-item">
                    <span id="toggle-right" class="nav-link" data-toggle="tab" href="#submitReport">Submit Report</span>
                </li>
            </ul>
        </div>

        <!-- Map -->
        <div class="map-container">
            <div id="map"></div>
            <div id="infowindow-content" class="text-primary">
                <span id="info-title"></span>
                <span id="info-urgency" class="text-danger float-right"></span><br/>
                <span id="info-body"></span><br/>
            </div>
        </div>

        <!-- Begin Tab Content -->
        <div id="tabContent" class="tab-content">
            <!-- View Reports Tab -->
            <div class="tab-pane fade active show fill-container" id="viewReports">
                <div class="sort-options map">
                    <form method="post" action="/localreports" class="form-inline">

                        <div class="form-group my-2 my-lg-0">
                            <label for="sort" class="mr-sm-2" hidden="true">Sort by </label>
                            <div class="no-border">
                                <select id="sort" name="sort" class="form-control ">
                                    <option selected="" value="">Sort by</option>
                                    <option value="dateTime">Date</option>
                                    <option value="urgency">Urgency</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group my-2 my-lg-0">
                            <label for="order" class="mr-sm-2" hidden="true">Order by</label>
                            <div class="no-border">
                                <select id="order" name="order" class="form-control">
                                    <option selected="" value="">Order by</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-primary sort">Sort</button>
                        </div>
                    </form>
                </div>
                <div class="tab-main">
                    <div th:if="${reportList} and ${reportList.size()}"
                         th:each="report : ${reportList}"
                         th:id="${report.location.latLng}" class="card border-secondary">

                        <!-- report header -->
                        <div class="report-header card-header">
                            <a th:text="${report.title}" th:href="@{'/report/' + ${report.id}}">Title</a>
                            <span class="float-right">
                                Urgency level:
                                <span th:text="${report.urgency}" class="urgency-level" id="rep-urgency">Urgency</span>
                            </span>
                            <span th:text="${report.id}" id="rep-id" hidden="true"></span>
                        </div>

                        <!-- report body -->
                        <div class="report-body">
                            <p>
                                <span th:text="${report.getFormattedDateTime()}"></span>
                                <em class="float-right">by
                                    <a th:text="${report.user.username}" th:href="@{'/report/list/' + ${report.user.username}}">User</a>
                                </em>
                            </p>
                            <p th:text="${report.location.latLng}" hidden="hidden"></p>
                            <p th:text="${report.description}" class="card-text" id="rep-body">Body</p>
                        </div>
                    </div>
                    <div th:unless="${reportList} and ${reportList.size()}" class="center">
                        <p>No reports yet. Add one!</p>
                    </div>
                </div>
            </div>

            <!-- Submit Report Tab -->
            <div class="tab-pane fade fill-container" id="submitReport">

                <form method="post" action="/submitreport" th:object="${report}">
                    <div class="center">
                        <p th:if="${ex}" th:text="${ex.getLocalizedMessage()}">binding result - show localized message</p>
                    </div>
                    <fieldset class="tab-main">
                        <div class="form-group">
                            <label for="report-title">Report Title</label>
                            <input th:field="*{title}" type="text" class="form-control"
                                   id="report-title" placeholder="Enter report title" />
                            <div th:errors="*{title}" class="invalid-feedback error"></div>
                        </div>

                        <div class="form-group">
                            <label for="description">Report Description</label>
                            <textarea th:field="*{description}" type="text" class="form-control"
                                      id="description" placeholder="Enter report description"></textarea>
                            <div th:errors="*{description}" class="invalid-feedback error"></div>
                        </div>

                        <div class="form-group form-group-urgency">
                            <label for="urgency">
                                Urgency level
                                <button type="button" class="btn btn-sm"
                                        data-toggle="collapse" data-target="#urgency-collapse">
                                    <em>(?)</em>
                                </button>
                                <div id="urgency-collapse" class="collapse collapse-scroll">
                                    <em>
                                        <p>1 - Currently Critical, Life-Threatening, Needs Immediate Action</p>
                                        <p>2 - Potentially Critical, Urgent but Non-Life-Threatening</p>
                                        <p>3 - Necessary</p>
                                        <p>4 - Recommended</p>
                                        <p>5 - No Priority, Take Note Only</p>
                                    </em>
                                </div>
                            </label>
                            <select id="urgency" name="urgency" class="form-control">
                                <option th:each="i : ${#numbers.sequence(1,5)}"
                                        th:text="${i}"
                                        th:value="${i}"></option>
                            </select>
                            <div th:errors="*{urgency}" class="invalid-feedback error"></div>
                        </div>

                        <div class="center submit-report">
                            <button type="submit" class="btn btn-primary">Submit Report</button>
                        </div>
                        <textarea hidden="true" name="newLocation" id="newLocation"></textarea>
                    </fieldset>
                </form>
            </div>
        </div>

        <!-- this div passes locations to the JavaScript to places markers on map -->
        <div hidden="true"><span class="loc" th:each="loc : ${locations}" th:text="${loc.latLng}"></span></div>

    </div>
    <div> <!-- Steps to Submit Report -->
        <div class="text-primary">
            <span class="indent">Steps to submit a report</span>
            <div>
                <ol class="map-ol">
                    <li>Select "Submit Report" tab</li>
                    <li>Drop a pin on the map (or enter location in the search bar)</li>
                    <li>Fill out report title &amp; description</li>
                    <li>Select the level of urgency</li>
                    <li>Hit Submit!</li>
                </ol>
            </div>
        </div>
    </div>


</div>


<span th:replace="fragments :: auth"></span>

</body>
<span th:replace="fragments :: script"></span>

<!-- Google Maps scripts -->
<script src="js/script.js" type="text/javascript"></script>
<div th:replace="mapkey :: map-key"></div>

</html>