<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" >
<head th:replace="fragments :: head"></head>

<body class="wrapper">

    <div class="nav-bar">
        <div th:replace="fragments :: navbar"></div>
    </div>

    <div class="main general">

        <h1 th:text="${title}" class="title center">Default Title</h1>

        <p th:unless="${reportsSlice} and ${reportsSlice.hasContent()}" class="center">There are no reports to show</p>

        <div class="sort-options" th:if="${reportsSlice} and ${reportsSlice.hasContent()}">
            <form th:action="@{/report/list/sort}" class="form-inline ">

                <div class="form-group my-2 my-lg-0">
                    <label for="sort" class="mr-sm-2" hidden="true">Sort by </label>
                    <div class="no-border fill-container">
                        <select id="sort" name="sort" class="form-control ">
                            <option selected="" value="">Sort by</option>
                            <option value="dateTime">Date</option>
                            <option value="urgency">Urgency</option>
                        </select>
                    </div>
                </div>

                <div class="form-group my-2 my-lg-0">
                    <label for="order" class="mr-sm-2" hidden="true">Order by</label>
                    <div class="no-border fill-container">
                        <select id="order" name="order" class="form-control">
                            <option selected="" value="">Order by</option>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>

                <div class="">
                    <button type="submit" class="btn btn-primary sort">Sort</button>
                </div>
            </form>
        </div>

        <ul th:if="${reportsSlice} and ${reportsSlice.hasContent()}" class="pagination-ul top">
            <li class="pagination-li">
                <span th:if="${reportsSlice.hasPrevious()}">
                    <span th:if="${sort}">
                        <a th:href="'/report/list/sort?page=' + ${reportsSlice.getNumber()} + '&amp;sort=' + ${sort} + '&amp;order=' + ${order}">
                            <span class="chevron left"></span>
                        </a>
                    </span>
                    <a th:unless="${sort}" th:href="'/report/list/?page=' + (${reportsSlice.getNumber()})">
                        <span class="chevron left"></span>
                    </a>
                </span>
                <a th:if="${reportsSlice.isFirst()}" class="pagination-li">
                    <span class="chevron left light"></span>
                </a>
            </li>

            <li th:text="${reportsSlice.getNumber()} + 1" class="pagination-li pg-current">Current</li>

            <li class="pagination-li">
                <span th:if="${reportsSlice.hasNext()}">
                    <span th:if="${sort}">
                        <a th:href="'/report/list/sort?page=' + (${reportsSlice.getNumber()} + 2) + '&amp;sort=' + ${sort} + '&amp;order=' + ${order}">
                            <span class="chevron right"></span>
                        </a>
                    </span>
                    <a th:unless="${sort}" th:href="'/report/list/?page=' + (${reportsSlice.getNumber()} + 2)">
                        <span class="chevron right"></span>
                    </a>
                </span>
                <a th:if="${reportsSlice.isLast()}" class="pagination-li">
                    <span class="chevron right light"></span>
                </a>
            </li>
        </ul>

        <div class="contents">
            <div th:if="${reportsSlice} and ${reportsSlice.hasContent()}">
                <div th:each="report : ${reportsSlice.getContent()}"
                     class="card border-primary mb-3 report"
                     style="width: 500px;">

                    <div class="card-header">
                        <a th:text="${report.title}" th:href="@{'/report/' + ${report.id}}">Title</a>
                        <span class="float-right">
                                Urgency level:
                                <span th:text="${report.urgency}" class="urgency-level" id="rep-urgency">Urgency</span>
                            </span>
                        <span th:text="${report.id}" id="rep-id" hidden="true"></span>
                    </div>

                    <div class="card-body">
                        <p>
                            <span th:text="${report.getFormattedDateTime()}"></span>
                            <em class="float-right">by
                                <a th:text="${report.user.username}" th:href="@{'/report/list/' + ${report.user.username}}">User</a>
                            </em>
                        </p>
                        <p th:text="${report.location.latLng}" hidden="hidden"></p>
                        <p th:text="${report.description}" class="card-text" id="rep-body">Body</p>
                    </div>
                </div>
            </div>
        </div>

        <ul th:if="${reportsSlice} and ${reportsSlice.hasContent()}" class="pagination-ul bottom">
            <li class="pagination-li">
                <span th:if="${reportsSlice.hasPrevious()}">
                    <span th:if="${sort}">
                        <a th:href="'/report/list/sort?page=' + ${reportsSlice.getNumber()} + '&amp;sort=' + ${sort} + '&amp;order=' + ${order}">
                            <span class="chevron left"></span>
                        </a>
                    </span>
                    <a th:unless="${sort}" th:href="'/report/list/?page=' + (${reportsSlice.getNumber()})">
                        <span class="chevron left"></span>
                    </a>
                </span>
                <a th:if="${reportsSlice.isFirst()}" class="pagination-li">
                    <span class="chevron left light"></span>
                </a>
            </li>

            <li th:text="${reportsSlice.getNumber()} + 1" class="pagination-li pg-current">Current</li>

            <li class="pagination-li">
                <span th:if="${reportsSlice.hasNext()}">
                    <span th:if="${sort}">
                        <a th:href="'/report/list/sort?page=' + (${reportsSlice.getNumber()} + 2) + '&amp;sort=' + ${sort} + '&amp;order=' + ${order}">
                            <span class="chevron right"></span>
                        </a>
                    </span>
                    <a th:unless="${sort}" th:href="'/report/list/?page=' + (${reportsSlice.getNumber()} + 2)">
                        <span class="chevron right"></span>
                    </a>
                </span>
                <a th:if="${reportsSlice.isLast()}" class="pagination-li">
                    <span class="chevron right light"></span>
                </a>
            </li>
        </ul>

    </div>

    <span th:replace="fragments :: auth"></span>
</body>
<span th:replace="fragments :: script"></span>
</html>