<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" >
<head th:replace="fragments :: head"></head>

<body class="wrapper">

    <div class="nav-bar">
        <div th:replace="fragments :: navbar"></div>
    </div>

    <div class="main general">

        <h1 th:text="${title}" class="center">Default Title</h1>

        <div class="contents">
            <p th:unless="${reportList} and ${reportList.size()}">There are no reports by this user yet</p>
            <div th:if="${reportList} and ${reportList.size()}" th:each="report : ${reportList}" class="card border-primary mb-3 report" style="max-width: 20rem;">
                <div class="card-header">
                    <a th:text="${report.user.username}" th:href="@{'/report/list/' + ${report.user.username}}">User</a>
                    <span class="float-right">Urgency level: <span th:text="${report.urgency}" class="urgency-level">Urgency</span></span>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:text="${report.title}" th:href="@{'/report/' + ${report.id}}">Title</a>
                    </h4>
                    <p th:text="${report.getFormattedZonedDateTime()}"></p>
                    <p th:text="${report.description}" class="card-text">Body</p>
                </div>
            </div>
        </div>

    </div>

    <span th:replace="fragments :: auth"></span>

    <div class="footer">Fooooooter</div>

</body>
<span th:replace="fragments :: script"></span>
</html>