<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="wrapper">

    <div class="nav-bar">
        <div th:replace="fragments :: navbar"></div>
    </div>

    <div class="page report">

        <h1 th:text="${title}">Default Title</h1>

        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div th:text="${report.user.username}" class="card-header">User</div>
            <div class="card-body">
                <h4 th:text="${report.title}" class="card-title">Title</h4>
                <p th:text="${report.description}" class="card-text">Body</p>
            </div>
        </div>

    </div>

    <div class="footer">Fooooooter</div>
</div>

<span th:replace="fragments :: auth"></span>

<span th:replace="fragments :: script"></span>
</body>
</html>