<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" >
<head th:replace="fragments :: head"></head>
<body class="wrapper">

    <div class="nav-bar">
        <div th:replace="fragments :: navbar"></div>
    </div>

    <div class="main general">

        <h1 th:text="${title}" class="center">Default Title</h1>

        <div class="contents reports">
            <div class="card border-primary mb-3 report" style="max-width: 20rem;">
                <div class="card-header">
                    <a th:text="${report.user.username}" th:href="@{'/report/list/' + ${report.user.username}}">User</a>
                    <span class="float-right">Urgency level: <span th:text="${report.urgency}" class="urgency-level">Urgency</span></span>
                </div>
                <div class="card-body">
                    <h4 th:text="${report.title}" class="card-title">Title</h4>
                    <p th:text="${report.getFormattedDateTime()}"></p>
                    <p th:text="${report.description}" class="card-text">Body</p>
                    <p th:if="${report.lastEdit}">Updated: <span th:text="${report.getFormattedLastEdit()}"></span></p>

                </div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="center"
             th:if="${#authentication.getPrincipal().getId()} == ${report.user.id}">
            <em><a th:href="@{'/report/edit/' + ${report.id}}" class="center my-link">Edit</a></em>
        </div>
    </div>

    <span th:replace="fragments :: auth"></span>

</body>
<span th:replace="fragments :: script"></span>
</html>